<!DOCTYPE html>
<html>
  <head>
    <title>CheckSmarter | The Smart Way to Check</title>
  </head>
  <body>
    <h2>CheckSmarter-Api</h2>
    <p>Welcome to CheckSmarter. Please visit <%= link_to "our GitHub repo", "https://github.com/andela-ydaniju/check_smarter_api" %> for documentation.
    </p>
  </body>
</html>
